<breadcrumb></breadcrumb>

<div class="row">
  <div class="col-md-4">
    <mat-card>
      <mat-card-content>
        <div class="title">Total user</div>
        <h2>{{totalUser}}</h2>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <mat-card-content>
        <div class="title">Total product</div>
        <h2>{{totalProduct}}</h2>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <mat-card-content>
        <div class="title">Total category</div>
        <h2>{{totalCategories}}</h2>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>The top 10 product sales</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table class="w-full" mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
          </ng-container>
          <ng-container matColumnDef="product_name">
            <th mat-header-cell *matHeaderCellDef> Product name </th>
            <td mat-cell *matCellDef="let element;"> {{element.product_name}} </td>
          </ng-container>
          <ng-container matColumnDef="sale_quantity">
            <th mat-header-cell *matHeaderCellDef> Sale Quantity </th>
            <td mat-cell *matCellDef="let element;"> {{element.total_quantity_sold}} </td>
          </ng-container>
          <ng-container matColumnDef="sale_amount">
            <th mat-header-cell *matHeaderCellDef> Sale Amount </th>
            <td mat-cell *matCellDef="let element;"> {{element.total_sales_amount}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Sales by category</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div id="chart1"></div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Sales by month</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div id="chart2"></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>